---
import { getCollection } from "astro:content";
import HorizontalCard from "../components/HorizontalCard.astro";
import { projects } from "../data/projects";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Antony Nyagah</div>
    <div class="text-3xl py-3 font-bold">
      Writing Algorithms, Painting Visualizations
    </div>
    <div class="text-2xl py-3 font-bold">Bio</div>
    <div class="py-2">
      <text class="text-lg">
        <p>Meet Antony Nyagah, a driven individual with a passion for technology and a flair for backend development. Currently excelling in IT support, Antony aspires to become a dynamic software engineer while incorporating his love for data science. With a clear vision for his future, Antony seeks guidance in crafting his unique personal brand.</p>
        <p>Antony's journey has been defined by remarkable achievements that showcase his dedication and versatility. Not only has he demonstrated exceptional strength, benching an impressive 100kg, but he has also proven his academic prowess by successfully completing university. On top of that, Antony's entrepreneurial spirit shines brightly, as he founded and managed a thriving software development business.</p>
        <p>Looking forward, Antony is determined to merge his expertise in backend development with cutting-edge data science skills, making him a force to be reckoned with in the tech industry. With a solid foundation of achievements and an unwavering drive to excel, Antony is poised to make a significant impact in the world of software engineering and data science.</p>
        <p>Keep an eye on this rising star as he blazes a trail toward excellence.</p>

      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/NyagahTony" target="_blank">
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

  {
    projects.slice(-3).map((project) => {
      return (
        <>
          <HorizontalCard
            title={project.title}
            img={project.img}
            desc={project.desc}
            url={project.url}
            target="_blank"
            badge={project.badge}
          />
          <div class="divider my-0" />
        </>
      );
    })
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
